*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    border: 2px solid black;
    border-radius: 0.2rem;
    margin: 2rem;
}

h1{
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}
.box{
    width: 90%;
}
form label{
     font-size: 2.5rem;
     font-weight: bold;
     margin: 1rem;
     padding: 0.5rem;
}
.todo{
     width: 70%;
     font-size: 1.3rem;
     font-weight: bold;
}

.btn{
    font-size: 1rem;
    font-weight: 700;
    width: auto;
}

li{
    margin: 1rem;
    padding: 0.5rem;
    border: 1px solid black;
    list-style-type: circle;
    font-weight: bold;
    text-transform: uppercase;
}